<h1>Update Profile</h1>

<form
  [formGroup]="updateProfileForm"
  (ngSubmit)="updateProfileSubmit()"
  class="update-form"
>
  <input
    class="zt-input"
    id="profile-picture-input"
    [value]="profilePicUrlFromDB"
    placeholder="Picture URL"
    formControlName="profilePicUrl"
    type="text"
  />

  <input
    class="zt-input"
    placeholder="Password"
    formControlName="password"
    type="password"
    [ngClass]="{'input-error': (password?.touched && updateProfileForm.errors?.['passwordsDontMatch']) || (password?.touched && updateProfileForm.errors?.['passwordLengthMin'])}"
  />

  <input
    class="zt-input"
    placeholder="Confirm Password"
    formControlName="confirmPassword"
    type="password"
    [ngClass]="{'input-error': (confirmPassword?.touched && updateProfileForm.errors?.['passwordsDontMatch']) || (confirmPassword?.touched && updateProfileForm.errors?.['passwordLengthMin'])}"
  />

  <div>
    <input
      type="number"
      inputmode="decimal"
      pattern="^[0-9]+(\.[0-9]{0,1})?$"
      placeholder="Weight (kg)"
      formControlName="weight"
      id="weightInput"
      class="zt-input"
      [ngClass]="{'input-error': (weight?.touched && weight?.errors?.['required']) || (weight?.touched && weight?.errors?.['min'])}"
    />
    <span class="unit" *ngIf="weight?.value !== null">kg</span>
  </div>

  <input type="checkbox" id="gender-toggle" formControlName="gender" />
  <label for="gender-toggle" class="gender-toggle-label">
    <span class="knob">
      <i class="material-icons">
        {{ !!updateProfileForm.value.gender ? "female" : "male" }}
      </i>
    </span>
  </label>

  <div class="zt-button-div">
    <button type="submit" class="zt-button blue">Update Profile</button>
  </div>
  <div class="hint">
    <i class="material-icons" (click)="showHint()">help_outline</i>
  </div>
</form>
