<h1>Add Drink</h1>

<input
  type="text"
  placeholder="Search drink"
  [(ngModel)]="searchTerm"
  (input)="filterDrinks()"
  class="zt-input search"
/>

<ul class="drink-list">
  <li
    *ngFor="let drink of filteredDrinks"
    (click)="onDrinkClick($event, drink)"
    role="button"
  >
    <span>{{ drink.name }}</span>
    <div *ngIf="selectedDrink === drink" class="drink-details">
      <i class="material-icons close-button" (click)="onCloseClick($event)"
        >close</i
      >
      <p class="drink-name">{{ drink.name }}</p>
      <p>ABV: {{ drink.abv }}</p>
      <p>Kcal/Serving: {{ drink.caloriesPerServing }}</p>
      <p>Category: {{ drink.category }}</p>
      <p>Size: {{ drink.ml }} ml</p>
      <div>
        <p>Amount (ml)</p>
        <input
          type="number"
          [(ngModel)]="tempAmounts[drink.name].ml"
          min="0"
          (click)="$event.stopPropagation()"
          class="drinkMlInput"
        />
        <p>Time</p>
        <input
          type="time"
          [(ngModel)]="tempAmounts[drink.name].time"
          (click)="$event.stopPropagation()"
          class="drinkTimeInput"
        />
        <button (click)="addDrinkAmount(drink)" class="zt-button blue">
          Add
        </button>
      </div>
    </div>
  </li>
</ul>
