@use "variables" as *;

input.search {
  margin-bottom: 1rem;
}

ul.drink-list {
  list-style: none;
  overflow-y: auto;
  max-height: 20rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: $ztGray;
  border-radius: 1rem;
  margin-bottom: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20rem;
    height: 3rem;
    padding-right: 0.5rem;

    span {
      width: 100%;
      text-align: center;
      padding-left: 1rem;
    }

    &:not(:last-child) {
      border-bottom: 1px solid black;
    }

    .drink-details {
      display: flex;
      flex-direction: column;
      background-color: $ztGray;
      position: absolute;
      z-index: 20;
      top: 8rem;
      width: 20rem;
      border-radius: 1rem;
      cursor: default;

      .drink-details-top {
        display: flex;
        flex-direction: row-reverse;
        .drink-name {
          padding-top: 1rem;
          padding-bottom: 1rem;
          width: 100%;
          padding-left: 2.125rem;
        }

        .close-button {
          position: relative;
          right: 0;
          color: red;
          font-size: 2rem;
          display: flex;
          justify-content: flex-end;
          cursor: pointer;
          padding-top: 0.125rem;
          padding-right: 0.125rem;
        }
      }

      .drink-details-content {
        padding-left: 1rem;
        padding-right: 1rem;

        .zt-input {
          background-color: rgba($color: #fff, $alpha: 0.1);
          width: 18rem;
          width: 100%;
        }

        .drink-form {
          padding-top: 1rem;
        }

        .time-div {
          display: flex;
          flex-direction: row;
          column-gap: 0.5rem;
        }

        .zt-button-div {
          padding-bottom: 1rem;
        }
      }
    }
  }
}
