<h1>Sign Up</h1>
<br />
<form
  [formGroup]="registerForm"
  (ngSubmit)="registerSubmit()"
  class="register-form"
>
  <input
    placeholder="Username"
    class="zt-input"
    type="text"
    formControlName="username"
  />

  <input
    placeholder="E-mail"
    class="zt-input"
    type="text"
    formControlName="email"
  />

  <input
    placeholder="Password"
    type="password"
    class="zt-input"
    formControlName="password"
  />

  <input
    placeholder="Confirm Password"
    type="password"
    class="zt-input"
    formControlName="confirmPassword"
  />

  <input
    type="number"
    placeholder="Weight (kg)"
    class="zt-input"
    formControlName="weight"
  />

  <input type="checkbox" id="gender-toggle" formControlName="gender" />
  <label for="gender-toggle" class="gender-toggle-label">
    <span class="knob">
      <i class="material-icons">
        {{ !!registerForm.value.gender ? "female" : "male" }}
      </i>
    </span>
  </label>

  <div class="zt-button-div">
    <button type="submit" class="zt-button blue">Sign Up</button>
  </div>
</form>
