<h1>Sign Up</h1>

<form
  [formGroup]="registerForm"
  (ngSubmit)="registerSubmit()"
  class="register-form"
>
  <input
    placeholder="Username"
    class="zt-input"
    type="text"
    formControlName="username"
    [ngClass]="{'input-error': username?.touched && username?.errors?.['required']}"
  />

  <input
    placeholder="E-mail"
    class="zt-input"
    type="text"
    formControlName="email"
    [ngClass]="{'input-error': (email?.touched && email?.errors?.['required']) || (email?.touched && email?.errors?.['email'])}"
  />

  <input
    placeholder="Password"
    type="password"
    class="zt-input"
    formControlName="password"
    [ngClass]="{'input-error': (password?.touched && password?.errors?.['required']) || (password?.touched && registerForm.errors?.['passwordsDontMatch']) || (password?.touched && registerForm.errors?.['passwordLengthMin']) }"
  />

  <input
    placeholder="Confirm Password"
    type="password"
    class="zt-input"
    formControlName="confirmPassword"
    [ngClass]="{'input-error': (confirmPassword?.touched && confirmPassword?.errors?.['required']) || (confirmPassword?.touched && registerForm.errors?.['passwordsDontMatch']) || (confirmPassword?.touched && registerForm.errors?.['passwordLengthMin']) }"
  />

  <input
    type="number"
    placeholder="Weight (kg)"
    class="zt-input"
    formControlName="weight"
    [ngClass]="{'input-error': (weight?.touched && weight?.errors?.['required']) || (weight?.touched && weight?.errors?.['min'])}"
  />

  <input type="checkbox" id="gender-toggle" formControlName="gender" />
  <label for="gender-toggle" class="gender-toggle-label">
    <span class="knob">
      <i class="material-icons">
        {{ !!registerForm.value.gender ? "female" : "male" }}
      </i>
    </span>
  </label>

  <div class="zt-button-div">
    <button type="submit" class="zt-button blue">Sign Up</button>
  </div>
  <div class="hint">
    <i class="material-icons" (click)="showHint()">help_outline</i>
  </div>
</form>
