<div class="stats-container">
    <!-- Bar Chart -->
    <div class="chart-section">
      <h2>Drinks in the Last 7 Days</h2>
      <ngx-charts-bar-vertical
      [view]="[700, 400]"
      [results]="graphData"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="false"
      [xAxisLabel]="'Drinking Frequency (drinks/day)'"
      [animations]="false"
      >
      </ngx-charts-bar-vertical>
    </div>
  
    <!-- Pie Chart -->
    <div class="chart-section">
      <h2>Drink Type Distribution</h2>
      <ngx-charts-pie-chart
      [view]="[700, 400]"
      [results]="pieChartData"
      [legend]="true"
      [labels]="true"
      [doughnut]="false"
      [explodeSlices]="false"
      [gradient]="false"
      [animations]="false"
      >
      </ngx-charts-pie-chart>
    </div>
  </div>
  
