@use "variables" as *;

ul {
  list-style: none;
  overflow-y: auto;
  max-height: 20rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: $ztGray;
  border-radius: 1rem;
  margin-bottom: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20rem;
    height: 3rem;

    span {
      width: 100%;
      text-align: left;
      padding-left: 1rem;
    }

    button {
      padding-right: 0.5rem;
      display: flex;
      color: red;
    }

    &:not(:last-child) {
      border-bottom: 1px solid black;
    }
  }
}
