<h1>{{ isEditMode ? "Update drink" : "Add drink" }}</h1>

<form [formGroup]="drinkForm" (ngSubmit)="onSubmit()" class="drink-form">
  <input
    type="text"
    id="name"
    class="zt-input"
    formControlName="name"
    placeholder="Drink name"
  />

  <input
    type="number"
    id="abv"
    class="zt-input"
    formControlName="abv"
    placeholder="Alcohol %"
    min="0"
    max="100"
  />

  <input
    type="number"
    id="calories"
    class="zt-input"
    formControlName="caloriesPerServing"
    placeholder="Calories per serving"
    min="0"
  />

  <input
    type="number"
    id="volume"
    class="zt-input"
    formControlName="ml"
    placeholder="Volume (ml)"
    min="1"
  />

  <input
    type="text"
    id="category"
    class="zt-input"
    formControlName="category"
    placeholder="Category"
  />

  <div class="zt-button-div">
    <button type="submit" class="zt-button purple">Submit</button>
  </div>
  <div class="hint">
    <i class="material-icons" (click)="showHint()">help_outline</i>
  </div>
</form>
