<h1>{{ isEditMode ? "Update drink" : "Add drink" }}</h1>

<form [formGroup]="drinkForm" (ngSubmit)="onSubmit()" class="drink-form">
  <input
    type="text"
    id="name"
    class="zt-input"
    formControlName="name"
    placeholder="Drink name"
    [ngClass]="{'input-error': name?.touched && name?.errors?.['required']}"
  />

  <div>
    <input
      type="number"
      id="abv"
      class="zt-input"
      formControlName="abv"
      placeholder="Alcohol %"
      min="0"
      max="100"
      [ngClass]="{'input-error': (abv?.touched && abv?.errors?.['required']) || (abv?.touched && abv?.errors?.['min']) || (abv?.touched && abv?.errors?.['max'])}"
    />
    <span class="unit" *ngIf="abv?.value !== null">%</span>
  </div>

  <div>
    <input
      type="number"
      id="calories"
      class="zt-input"
      formControlName="caloriesPerServing"
      placeholder="Calories per serving"
      min="0"
      [ngClass]="{'input-error': (caloriesPerServing?.touched && caloriesPerServing?.errors?.['required']) || (caloriesPerServing?.touched && caloriesPerServing?.errors?.['min'])}"
    />
    <span class="unit" *ngIf="caloriesPerServing?.value !== null">kcal</span>
  </div>

  <div>
    <input
      type="number"
      id="volume"
      class="zt-input"
      formControlName="ml"
      placeholder="Volume (ml)"
      min="1"
      [ngClass]="{'input-error': (ml?.touched && ml?.errors?.['required']) || (ml?.touched && ml?.errors?.['min'])}"
    />
    <span class="unit" *ngIf="ml?.value !== null">ml</span>
  </div>

  <input
    type="text"
    id="category"
    class="zt-input"
    formControlName="category"
    placeholder="Category"
    [ngClass]="{'input-error': category?.touched && category?.errors?.['required']}"
  />

  <div class="zt-button-div">
    <button type="submit" class="zt-button purple">Submit</button>
  </div>
  <div class="hint">
    <i class="material-icons" (click)="showHint()">help_outline</i>
  </div>
</form>
