<div class="date-picker-container">
    <div class="date-display-box" (click)="picker.open()">
      {{ selectedDate | date: 'yyyy-MM-dd' }}
    </div>
    <mat-form-field class="date-picker-field">
      <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)" hidden />
      <mat-datepicker #picker panelClass="customDatePicker"></mat-datepicker>
    </mat-form-field>
</div>

<div>
  <div>
    <button mat-flat-button (click)="redirectToDrinks()">Add Drink</button>
  </div>
</div>

<div *ngIf="drinksForTheDay.length > 0">
  <h3>Drinks for {{ selectedDate | date: 'yyyy-MM-dd' }}</h3>
  <ul>
    <li *ngFor="let drink of drinksForTheDay" (click)="onDrinkClick(drink)" style="background-color: lightblue;">
      <strong>{{ drink.name }}</strong> - {{ drink.amount }} ml at {{ drink.time }} ({{ drink.calories }} kcal) ({{drink.alcohol}} alcohol)
    </li>
  </ul>
</div>
<div *ngIf="drinksForTheDay.length === 0">
  <p>No drinks recorded for this day.</p>
</div>

<div class="calorie-total">
  <h3>Total Calories for {{ selectedDate | date:'yyyy-MM-dd' }}: {{ totalCalories }}</h3>
</div>

  
