<div class="date-picker-container">
    <div class="date-display-box" (click)="picker.open()">
      {{ selectedDate | date: 'yyyy-MM-dd' }}
    </div>
    <mat-form-field class="date-picker-field">
      <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)" hidden />
      <mat-datepicker #picker panelClass="customDatePicker"></mat-datepicker>
    </mat-form-field>
</div>

<div>
  <div>
    <button mat-flat-button (click)="redirectToDrinksSearch()">Personal Stats</button>
  </div>
</div>
  
