<div class="zt-input date-picker">
  <i role="button" (click)="onDateChange('back')" class="material-icons"
    >arrow_circle_down</i
  >
  <span id="date">{{ getFormattedDate(selectedDate) }}</span>
  <i role="button" (click)="onDateChange('forward')" class="material-icons"
    >arrow_circle_up</i
  >
</div>

<div *ngIf="drinksForTheDay.length > 0">
  <ul class="drink-list">
    <li *ngFor="let drink of drinksForTheDay" @slide>
      <span class="drink-name">{{ drink.name }}</span>
      <div class="drink-li-data">
        <span>{{ drink.time }}</span>
        <span
          >{{ drink.calories | trimDecimals : 2 }} kcal -
          {{ drink.amount }} ml</span
        >
      </div>
      <i
        role="button"
        (click)="onDrinkClick(drink)"
        class="material-icons close-button"
        >highlight_remove</i
      >
    </li>
  </ul>
</div>
<div *ngIf="drinksForTheDay.length === 0" class="no-drinks">
  <p>No drinks recorded for this day</p>
</div>

<div class="info-container" *ngIf="totalDrinks != 0 && isTotalsShown" @scale>
  <i class="material-icons hide-button" role="button" (click)="hideTotals()"
    >close</i
  >
  <div class="info-div">
    <div class="total-calories">
      <span>Total calories</span>
      <span>{{ totalCalories | trimDecimals : 2 }} kcal</span>
    </div>
    <div class="number-of-drinks">
      <span>Number of drinks</span>
      <span>{{ totalDrinks }}</span>
    </div>
    <div class="estimated-bac">
      <span>Estimated BAC</span>
      <span>{{ bac | number : "1.2-2" }}%</span>
    </div>
    <div class="estimated-sober-time">
      <span>Estimated sober time</span>
      <span>{{ soberTime | date : "MMM dd EEE HH:mm:ss" }}</span>
    </div>
  </div>
</div>
<div class="zt-button-div">
  <button (click)="redirectToDrinks()" class="zt-button blue">Add Drink</button>
  <button
    (click)="showTotals()"
    class="zt-button purple"
    [ngClass]="drinksForTheDay.length == 0 ? 'disabled-button' : ''"
    [disabled]="drinksForTheDay.length == 0"
  >
    Totals
  </button>
</div>
