@use "variables" as *;

.date-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4.5rem;

  i {
    &:first-of-type {
      position: relative;
      transform: rotate(90deg);

      &:active {
        top: 2px;
      }
    }

    &:last-of-type {
      position: relative;
      transform: rotate(90deg);

      &:active {
        top: 2px;
      }
    }
  }
}

.no-drinks {
  display: flex;
  height: 6rem;
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
}

.disabled-button {
  pointer-events: none;
  opacity: 0.6;
}

input.search {
  margin-bottom: 1rem;
}

ul.drink-list {
  list-style: none;
  overflow-y: auto;
  max-height: 20rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: $ztGray;
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20rem;
    height: 3rem;

    &:not(:last-child) {
      border-bottom: 1px solid black;
    }

    .drink-name {
      padding-left: 1rem;
      display: flex;
      justify-content: left;
      width: 100%;
    }

    .drink-li-data {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 0.5rem;
      right: 0;
      width: 15rem;

      span:last-of-type {
        font-size: 0.7rem;
        color: gray;
      }
    }

    .close-button {
      position: relative;
      right: 0;
      color: red;
      font-size: 2rem;
      justify-content: flex-end;
      display: flex;
      cursor: pointer;
      padding-right: 0.125rem;
    }
  }
}
