<form [formGroup]="loginForm" (ngSubmit)="submit()" class="loginForm">

    <mat-form-field class="matFormLogin">
      <input placeholder="E-mail" formControlName="email"  class="inputFieldZT"/>
      <mat-error *ngIf="email?.errors?.['required']">Type in an<b>e-mail</b> address</mat-error>
      <mat-error *ngIf="email?.errors?.['email']">Invalid <b>e-mail</b> address</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="matFormLogin">
      <input placeholder="Password" formControlName="password" type="password" class="inputFieldZT"/>
      <mat-error *ngIf="password?.errors?.['required']"
        >Type in your <b>password</b>
      </mat-error>
    </mat-form-field>

    <div class="loginButtonDiv">
      <button mat-flat-button class="loginButton" type="submit">Sign In</button>
    </div>
         
  </form>