<div class="profileContainer">
    <div class="headerContainer">
        <img id="profilePic" src="" style="width: 100px;">
        <h1 class="usernameText">{{usernameFromDB}}</h1>
    </div>
</div>

<form [formGroup]="updateProfileForm">

    <mat-form-field class="profilepicurl-mat-form-field">
        <input class="profilePic-input" id="profilePicInput" [value]="profilePicUrlFromDB" placeholder="Picture URL" formControlName="profilePicUrl" matInput/>
    </mat-form-field>

    <mat-form-field class="password-mat-form-field">
        <input class="password-input" placeholder="Password" formControlName="password" type="password" matInput/>
        <mat-error *ngIf="password?.errors?.['required']">Please type in a password!</mat-error>
    </mat-form-field>

    <mat-form-field class="confirm-password-mat-form-field">
        <input class="confirm-password-input" placeholder="Confirm Password" formControlName="confirmPassword" type="password" matInput/>
        <mat-error *ngIf="confirmPassword?.errors?.['required']">Please confirm your password!</mat-error>
    </mat-form-field>

    <div class="center margin-top">
        <button type="submit" mat-flat-button color="primary" (click)="updateProfileSubmit()">Update profile</button>
    </div>
</form>