<div class="profileContainer">
    <div class="headerContainer">
        <img id="profilePic" src="" style="width: 100px;">
        <h1 class="usernameText">{{usernameFromDB}}</h1>
    </div>
</div>

<form [formGroup]="updateProfileForm" (ngSubmit)="updateProfileSubmit()">

    <mat-form-field class="username-mat-form-field">
        <input class="username-input" [value]="usernameFromDB" placeholder="Username" formControlName="username" matInput/>
        <mat-error *ngIf="username?.errors?.['required']">Please enter a username!</mat-error>
    </mat-form-field>

    <mat-form-field class="profilepicurl-mat-form-field">
        <input class="email-input" [value]="profilePicUrlFromDB" placeholder="Picture URL" formControlName="profilePicUrl" matInput/>
        <mat-error *ngIf="profilePicUrl?.errors?.['required']">Please enter an e-mail!</mat-error>
        <mat-error *ngIf="profilePicUrl?.errors?.['profilePicUrlFormat']">Please enter a valid image link!</mat-error>
    </mat-form-field>

    <mat-form-field class="password-mat-form-field">
        <input class="password-input" placeholder="Password" formControlName="password" type="password" matInput/>
        <mat-error *ngIf="password?.errors?.['required']">Please type in a password!</mat-error>
    </mat-form-field>

    <mat-form-field class="confirm-password-mat-form-field">
        <input class="confirm-password-input" placeholder="Confirm Password" formControlName="confirmPassword" type="password" matInput/>
        <mat-error *ngIf="confirmPassword?.errors?.['required']">Please confirm your password!</mat-error>
    </mat-form-field>

    <div class="center margin-top">
        <button type="submit" mat-flat-button color="primary">Update</button>
    </div>
</form>