<div class="info-div">
  <img id="profile-picture" src="" />
  <h1>{{ username }}</h1>
  <span>{{ registerDate }}</span>
  <span>{{ gender }} - {{ weight }} kg</span>
</div>
<div class="zt-button-div">
  <button
    (click)="redirectToAdminPage()"
    class="zt-button lightblue"
    *ngIf="this.username === 'admin'"
  >
    Admin Page
  </button>
  <button (click)="redirectToPersonalStats()" class="zt-button blue">
    Personal Stats
  </button>
  <button (click)="redirectToUpdateProfile()" class="zt-button purple">
    Update Profile
  </button>
  <button (click)="logoutUser()" class="zt-button pink">Logout</button>
</div>
