<div
  class="hamburger-menu-container"
  [ngClass]="{ open: menuState === 'open', closing: menuState === 'closing' }"
  (click)="toggleMenu()"
>
  <div class="menu-content">
    <ul>
      <a
        (click)="navigateWithMenuClose('/tracking/home')"
        (click)="toggleMenu()"
      >
        <li>Home</li>
      </a>
      <a
        (click)="navigateWithMenuClose('/pages/aboutus')"
        (click)="toggleMenu()"
      >
        <li>About Us</li>
      </a>
      <a
        (click)="navigateWithMenuClose('/profile/profile')"
        (click)="toggleMenu()"
      >
        <li>Profile</li>
      </a>
    </ul>
  </div>
</div>

<div class="hamburger-icon-container">
  <button class="hamburger-icon" (click)="toggleMenu()">
    <i
      class="material-icons"
      [class.icon-visible]="menuState === 'closed' || menuState === 'closing'"
      [class.icon-hidden]="menuState === 'open'"
      >menu</i
    >
    <i
      class="material-icons"
      [class.icon-visible]="menuState === 'open'"
      [class.icon-hidden]="menuState === 'closed'"
      >menu_open</i
    >
  </button>
</div>

<div
  class="backdrop"
  [ngClass]="{ closing: menuState === 'closing' }"
  *ngIf="menuState !== 'closed'"
  (click)="toggleMenu()"
></div>
