.hamburger-icon-container {
  padding-top: 0rem;

  .hamburger-icon {
    position: fixed;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1000;
    padding-top: 0.25rem;
    padding-left: 0.5rem;
  }

  i {
    position: absolute;
    transition: opacity 0.3s ease;
  }

  .icon-visible {
    opacity: 1;
    pointer-events: auto;
  }

  .icon-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.hamburger-menu-container {
  position: absolute;
  height: 100%;
  background: rgb(20, 0, 40);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 997;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;

  &.open {
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }

  &.closing {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }

  .bi.bi-list {
  }
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 996;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;

  &.closing {
    opacity: 0;
  }
}

.menu-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  z-index: 999;
}

.menu-content ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 3vh;
}

.menu-content li {
  margin-top: 15px;
  padding-right: 12vh;
  padding-left: 12vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 15px;
  cursor: pointer;
  background-image: linear-gradient(
    135deg,
    rgba(132, 0, 255, 0.5) 0%,
    rgba(72, 0, 155, 0.5) 100%
  );
  width: 100%;
}

.menu-content a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  width: 100%;
  display: inline-block;
  text-align: center;
}

a > span {
  padding-right: 10px;
}
