<div
  class="hamburger-menu-container"
  [ngClass]="{ open: menuState === 'open', closing: menuState === 'closing' }"
  (click)="toggleMenu()"
>
  <div class="menu-content">
    <ul>
      <a href="/tracking/home" (click)="toggleMenu()">
        <li>Home</li>
      </a>
      <a href="/pages/aboutus" (click)="toggleMenu()">
        <li>About Us</li>
      </a>
      <a href="/profile/profile" (click)="toggleMenu()">
        <li>Profile</li>
      </a>
    </ul>
  </div>
</div>

<div class="hamburger-icon-container">
  <button class="hamburger-icon" (click)="toggleMenu()">
    <i class="bi bi-list"></i>
  </button>
</div>

<div
  class="backdrop"
  [ngClass]="{ closing: menuState === 'closing' }"
  *ngIf="menuState !== 'closed'"
  (click)="toggleMenu()"
></div>
