@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@font-face {
  font-family: MT_Regular;
  src: url(assets/fonts/Roboto-Medium.ttf);
}

.mdc-line-ripple {
  display: none !important;
}

.mat-mdc-form-field-error {
  text-align: center;
  color: red;
}

:root {
  --ccPurple: #6f00ff;
  --ccPink: #ff00dd;
  --ccBlue: #0004ff;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: white;
}

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #0f0f0f;
}

/* Center app-wrapper */
body {
  display: flex;
  justify-content: center;
  align-items: flex-start; // use center if you want vertical centering too
  min-height: 100svh;
  overflow: hidden;
  font-family: MT_Regular;
}

app-root {
  display: flex;
  flex: 1;
}

.app-wrapper {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  @media (min-width: 500px) {
    width: 100%;
    max-width: 28em;
    height: 100svh;
    min-height: 40em;
    margin: 1rem auto;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;

  .app-content {
    padding: 1rem;
  }
}
