@tailwind base;

@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~material-design-icons-iconfont/dist/material-design-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@font-face {
  font-family: MT_Regular;
  src: url(assets/fonts/Roboto-Medium.ttf);
}

.mdc-line-ripple {
  display: none !important;
}

.mat-mdc-form-field-error {
  text-align: center;
  color: red;
}

:root {
  --ccPurple: #6f00ff;
  --ccPink: #ff00dd;
  --ccBlue: #0004ff;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: white;
}

/* REDESIGN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #0f0f0f;
  opacity: 1;
  background-image: radial-gradient(#000000 0.5px, #0f0f0f 0.5px);
  background-size: 10px 10px;
  font-family: MT_Regular;

  .material-icons {
    font-size: 2rem;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100svh;
  overflow: hidden;
}

app-root {
  display: flex;
  flex: 1;
}

.app-wrapper {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  @media (min-width: 500px), (min-aspect-ratio: 4/3) {
    width: 100%;
    max-width: 28em;
    height: 100svh;
    min-height: 40em;
    margin: 1rem auto 1rem auto;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.app-content {
  padding: 1rem;
  height: 100%;
  width: 100%;

  .main-content {
    padding-top: 5rem;
    padding-bottom: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (min-width: 500px), (min-aspect-ratio: 4/3) {
      height: 40em;
    }

    .zt-button-div {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      padding-top: 1rem;
    }

    .zt-button {
      color: #ffffff;
      border-radius: 3.125rem;
      height: 3rem;

      &.purple {
        background-color: #8400ff;
      }

      &.pink {
        background-color: #ff00ff;
      }

      &.blue {
        background: #002fff;
      }

      &.lightblue {
        background-color: #0099ff;
      }
    }
  }
}
