<div class="drink-list">
    <h2>Drinks</h2>

    <input type="text" placeholder="Search by brand or name"
    [(ngModel)]="searchTerm" (input)="filterDrinks()" class="search-bar"/>

    <ul>
      <li *ngFor="let drink of filteredDrinks" (click)="selectDrink(drink)">
        {{ drink.name }}
        <div *ngIf="selectedDrink === drink" class="drink-details">
            <p><strong>ABV:</strong> {{ drink.abv}}</p>
            <p><strong>Calories per Serving:</strong> {{ drink.caloriesPerServing}}</p>
            <p><strong>Category:</strong> {{ drink.category}}</p>
            <p><strong>Size:</strong> {{ drink.ml}}</p>
            <div>
              <input type="number" placeholder="ml" [(ngModel)]="tempAmounts[drink.name].ml" min="0" (click)="$event.stopPropagation()">
              <input type="time" [(ngModel)]="tempAmounts[drink.name].time" (click)="$event.stopPropagation()">
              <button (click)="addDrinkAmount(drink)">Add</button>
            </div>
          </div>
      </li>
    </ul>

    <div class="added-amounts">
      <h3>Drink Amounts</h3>
      <ul>
        <li *ngFor="let entry of drinkAmounts">
          {{ entry.drinkName }}: {{ entry.amount }} ml at {{ entry.time }}
        </li>
      </ul>
    </div>
  </div>
  
