.drink-list {
  //margin-bottom: 50%;
  width: 35vh;
  position: relative;
  overflow-y: auto;
  height: 95vh;
}

.drink-list ul {
  position: relative; 
  list-style: none;
  padding: 0;
  margin-top: 5vh;
  background-color: #21212180;
  border-radius: 20px 20px 20px 20px;
  border: 0.2vh rgba($color: gray, $alpha: 0.2) solid;
  max-height: 30vh;
  overflow-y: auto;
}

.drink-list > h1 {
  text-align: center;
  font-size: 5vh;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.drink-list li {
  position: relative;
  cursor: pointer;
  text-align: center;
  padding: 20px;
}

ul li:not(:last-child) {
  border-bottom: 0.2vh rgba($color: gray, $alpha: 0.2) solid;
}

.drink-details {
  padding: 1vh;
  position: fixed;
  top: 0;
  margin-top: 28vh;
  margin-left: -5vh;
  width: 40vh;
  color: rgb(201, 201, 201);

  z-index: 10;
  background-color: #212121;
  border-radius: 20px 20px 20px 20px;
  border: 0.2vh rgba($color: gray, $alpha: 0.2) solid;
  text-align: center;
}

.drink-name {
  margin-bottom: 2vh;
  color: white;
}

div.drink-details div:last-of-type {
  margin-top: 5vh;
}

.search-bar {
  background-color: #212121;
  color: white;
  border-radius: 50px 50px 50px 50px;
  width: 100%;
  text-align: center;
  min-height: 6vh;
  padding-bottom: 0%;
}

.drinkMlInput,
.drinkTimeInput {
  background-color: #212121;
  color: white;
  border-radius: 50px 50px 50px 50px;
  width: 100%;
  text-align: center;
  min-height: 6vh;
  padding-bottom: 0%;
  border: 0.2vh rgba($color: gray, $alpha: 0.2) solid;
}

.drinkMlInput {
  margin-bottom: 1vh;
}

.add-drink-button {
  margin-top: 20%;
  width: 60%;
  height: 3.5rem;
  border-radius: 50px 50px 50px 50px;
  font-size: large;
  color: white;
  //background-color: var(--ccBlue);
  background-image: linear-gradient(135deg, #002fff 0%, #00076e 100%);
}

.close-drink-detail {
  color: rgb(255, 0, 0);
  margin-left: 40%;
  position: absolute;
}
